.action {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.action__button {
    width: 25%;
    height: 100px;
    font-size: 40px;
    outline: none;
    border-radius: 999px;
    cursor: pointer;
    background-color: rgb(71, 34, 105);
    color: rgb(200, 196, 212);
    border-top: none;
    border-left: none;
    border-right: 3px solid rgb(43, 42, 42);
    border-bottom: 3px solid rgb(43, 42, 42);
    box-shadow: 0px 8px 10px -7px black;
}