.header {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 31, 46);
    padding: 15px;
}

.header__title > h1 {
    font-size: 60px;
    color: rgb(220, 218, 226);
    background-color: rgb(34, 31, 46);
}

.header__title > h5 {
    font-size: 20px;
    color: rgb(200, 196, 212);
    background-color: rgb(34, 31, 46);
}